protocols = imap sieve

# Plugins configuration

plugin {
	sieve=~/.dovecot.sieve
	sieve_dir=~/sieve
	sieve_before = /var/mail/vmail/sieve-before
	sieve_after = /var/mail/vmail/sieve-after
}


# temporary imapc stuff for gmail mail migration
#imapc_host = imap.gmail.com
#imapc_port = 993
#imapc_ssl = imaps
#imapc_features = rfc822.size
#imapc_features = $imapc_features fetch-headers
#mail_prefetch_count = 20