ssl = yes
ssl_cert = <{{ssl_cert_file}}
ssl_key = <{{ssl_key_file}}
ssl_ca = <{{ssl_ca_file}}
ssl_client_ca_dir = {{ssl_ca_dir}}

ssl_cipher_list = ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS

ssl_dh_parameters_length = 2048
ssl_protocols = TLSv1
ssl_prefer_server_ciphers = yes
