# Authentication for checkpassword users. Included from 10-auth.conf.
#
# <doc/wiki/AuthDatabase.CheckPassword.txt>

passdb {
	driver = passwd-file
	args = username_format=%u scheme=ssha512 /etc/dovecot/passwd.db
	deny = no
	master = no
	pass = no
	skip = never
	result_failure = continue
	result_internalfail = continue
	result_success = return-ok
}

# passdb lookup should return also userdb info
userdb {
	driver = static
	args = uid=5000 gid=5000 home=/var/mail/vmail/%d/%n
}