auth_verbose = yes
default_internal_user = vmail
disable_plaintext_auth = no
first_valid_uid = 0
hostname = {{ mail_hostname }}
log_path = /var/log/dovecot.log
mail_home = /var/mail/vmail/%d/%n
mail_location = maildir:/var/mail/vmail/%d/%n/mail:LAYOUT=fs
mail_privileged_group = vmail
managesieve_notify_capability = mailto
managesieve_sieve_capability = fileinto reject envelope encoded-character vacation subaddress comparator-i;ascii-numeric relational regex imap4flags copy include variables body enotify environment mailbox date index ihave duplicate mime foreverypart extracttext

ssl_ca = <{{ssl_ca_file}}
ssl_cert = <{{ssl_cert_file}}
ssl_cipher_list = ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS
ssl_dh_parameters_length = 2048
ssl_key = <{{ssl_key_file}}
ssl_prefer_server_ciphers = yes
ssl_protocols = !SSLv2 !SSLv3
verbose_proctitle = yes

namespace inbox {
  inbox = yes
  location =
  mailbox Drafts {
    auto = subscribe
    special_use = \Drafts
  }
  mailbox Junk {
    auto = subscribe
    special_use = \Junk
  }
  mailbox Sent {
    auto = subscribe
    special_use = \Sent
  }
  mailbox Trash {
    auto = subscribe
    special_use = \Trash
  }
  prefix =
}
userdb {
  args = uid=vmail gid=vmail home=/var/mail/vmail/%d/%n
  driver = static
}
passdb {
  args = /etc/dovecot/dovecot-sql.conf.ext
  driver = sql
}

postmaster_address = postmaster@{{mail_my_domain}}
protocols = imap lmtp sieve
#service auth {
#  unix_listener /var/spool/postfix/private/auth {
#    group = postfix
#    mode = 0660
#    user = postfix
#  }
 
#unix_listener auth-master {
#    group = mail
#    mode = 0660
#    user = vmail
#  }
#  user = nobody
#}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0660
    user = postfix
  }
}

protocol lmtp {
  mail_plugins = sieve
  postmaster_address = postmaster@{{mail_my_domain}}
  deliver_log_format = msgid=%m: %$
  quota_full_tempfail = yes
  rejection_reason = Your message to <%t> was automatically rejected:%n%r
}


protocol imap {
  imap_client_workarounds = delay-newmail tb-extra-mailbox-sep
  mail_max_userip_connections = 10
}


plugin {
  antispam_backend = pipe
  antispam_mail_notspam = learn_ham
  antispam_mail_sendmail = /usr/bin/rspamc
  antispam_mail_sendmail_args = -h;localhost:11334
  antispam_mail_spam = learn_spam
  antispam_spam = Junk
  antispam_trash = Trash
  sieve = ~/.dovecot.sieve
  sieve_dir = ~/sieve
}
