
postmaster_address = postmaster@{{mail_my_desination}}
hostname = {{ mail_hostname }}

protocols = imap lmtp sieve pop3

auth_verbose = yes
mail_home = /var/mail/vmail/%d/%n
mail_location = maildir:/var/mail/vmail/%d/%n/mail:LAYOUT=fs

mail_privileged_group = vmail
default_internal_user = vmail
first_valid_uid = 0

ssl = yes
disable_plaintext_auth = no
auth_mechanisms = plain login

ssl_ca = <{{ssl_ca_file}}
ssl_cert = <{{ssl_cert_file}}
ssl_cipher_list = ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS
ssl_dh_parameters_length = 2048
ssl_key = <{{ssl_key_file}}
ssl_prefer_server_ciphers = yes
ssl_protocols = !SSLv2 !SSLv3

namespace inbox {
  inbox = yes
  location = 
  mailbox Drafts {
    auto = subscribe
    special_use = \Drafts
  }
  mailbox Junk {
    auto = subscribe
    special_use = \Junk
  }
  mailbox Sent {
    auto = subscribe
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    auto = subscribe
    special_use = \Sent
  }
  mailbox Trash {
    auto = subscribe
    special_use = \Trash
  }
}

userdb {
  driver = passwd
}

passdb {
  driver = pam
}

service auth {
  unix_listener /var/spool/postfix/private/dovecot-auth {
    group = vmail
    mode = 0666
    user = vmail
  }
}

# https://wiki.dovecot.org/LMTP
service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0666
    group = postfix
    user = postfix
  }
  user = vmail
}



protocol lda {
  deliver_log_format = msgid=%m: %$
  mail_plugins = sieve
  quota_full_tempfail = yes
  rejection_reason = Your message to <%t> was automatically rejected:%n%r
}

protocol lmtp {
  mail_plugins = sieve
  postmaster_address = postmaster@{{mail_my_desination}}
}


protocol imap {
  imap_client_workarounds = delay-newmail tb-extra-mailbox-sep
  mail_max_userip_connections = 10
}


plugin {
    antispam_backend = pipe
    antispam_spam    = Junk
    antispam_trash   = Trash
    antispam_mail_sendmail = /usr/bin/rspamc
    antispam_mail_spam     = learn_spam
    antispam_mail_notspam  = learn_ham
    antispam_mail_sendmail_args = -h;localhost:11334
}

plugin {
  sieve = ~/.dovecot.sieve
  sieve_dir = ~/sieve
}
